/* ================================== *\
   global
\* ================================== */
body {
	background-color: #FFFFFF;
}
img {
	user-select: none;
	-webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	max-width: 100%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #D1D1D1;
  opacity: 1; /* Firefox */
	text-transform: none;
	text-overflow: ellipsis;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #D1D1D1;
	text-transform: none;
	text-overflow: ellipsis;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #D1D1D1;
	text-transform: none;
	text-overflow: ellipsis;
}
::-moz-focus-inner { /* firefox border on back */
  border: 0;
}
* {
	-webkit-transition: all 0s ease;
	transition: all 0s ease;
	border-radius: 0%; /* because safari on iOS */
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	overflow-wrap: break-word;
	font-family: 'Libre Franklin', sans-serif !important;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
	* {
		-webkit-transition: none !important;
		transition: none !important;
	}
}

/* ================================== *\
   helpers
\* ================================== */
.pbs-focus-p {
	text-align: justify;
}
@media (max-width: 575.98px) {
	.pbs-focus-p {
		text-align: left;
	}
}
.pbs-cut-p {
	margin-bottom: 0px;
}
.pbs-heading {
	color: #44A8AB;
	text-transform: uppercase;
}
.pbs-font {
	font-family: franklin-gothic-urw, sans-serif !important;
	font-style: normal;
	font-weight: 900;
}
/* ================================== *\
   universal - flex (height equal)
\* ================================== */
.pbs-flex-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}
.pbs-flex-row::before, .pbs-flex-row::after {
	width: 0;
}
.pbs-flex-row [class*='col-'] {
	display: flex;
	flex-direction: column;
}
.pbs-flex-item {
	display: block;
	height: 100%;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
/* ================================== *\
   grid for xxl
\* ================================== */
@media (max-width: 1365.98px) {
	.container-fluid {
		max-width: 1152px;
	}
}
@media (min-width: 1366px) and (max-width: 1439.98px) {
	.container-fluid {
		max-width: 1280px;
	}
}
@media (min-width: 1440px) {
	.container-fluid {
		max-width: 1366px;
	}
}

/* ================================== *\
   @media ref
\* ================================== */
@media (max-width: 575.98px) {

}
@media (min-width: 576px) and (max-width: 767.98px) {

}
@media (min-width: 768px) and (max-width: 991.98px) {

}
@media (min-width: 992px) and (max-width: 1199.98px) {

}
@media (min-width: 1200px) and (max-width: 1365.98px) {

}
@media (min-width: 1366px) and (max-width: 1439.98px) {

}
@media (min-width: 1440px) {

}

/* ================================== *\
   universal - header
\* ================================== */
.pbs-header {
	background-color: #FFFFFF;
	padding: 30px 0px;
	z-index: 9997;
	position: relative;
	box-shadow: 2px 2px 5px 0 #C1C1C1;
}
@media (max-width: 767.98px) {
	/* for mobile menu button position */
	.pbs-header .pbs-mobile {
		position: relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}
.pbs-header img.pbs-logo {
	height: 120px;
	width: auto;
}
.pbs-header img.pbs-slogan {
	height: 50px;
	width: auto;
	margin-top: 16px;
	margin-bottom: 16px;
}
.pbs-header .navbar-toggler {
  padding: 0px !important;
  font-size: inherit;
  line-height: 1;
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: 0px;
}
.pbs-header .pbs-menu-icon {
	color: #44A8AB;
	display: block;
}
.pbs-header .pbs-menu-icon:hover {
	color: #3C999A !important;
}

@media (max-width: 767.98px) {
	.pbs-header {
		padding: 15px 0px;
	}
	.pbs-header img.pbs-logo {
		height: 60px;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.pbs-header img.pbs-logo {
		height: 100px;
	}
	.pbs-header img.pbs-slogan {
		height: 40px;
		margin-top: 11px;
		margin-bottom: 11px;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {

}
@media (min-width: 1200px) and (max-width: 1365.98px) {

}
@media (min-width: 1366px) and (max-width: 1439.98px) {

}
@media (min-width: 1440px) {

}

/* ================================== *\
   universal - nav
\* ================================== */
.pbs-nav {
	background-color: #44A8AB;
  white-space: nowrap;
	position: relative;
	z-index: 9999;
}
.pbs-nav ul {
	position: relative;
  width: 100%;
	display: table;
}
.pbs-nav a {
	display: table-cell;
  vertical-align: middle;
	background-color: #44A8AB;
	text-decoration: none;
	color: #FFFFFF;
	border-left: solid 2px #3C999A;
}
.pbs-nav a:last-child {
	border-right: solid 2px #3C999A;
}
.pbs-nav a:hover {
	background-color: #3C999A;
}
.pbs-nav li {
	padding: 15px 15px;
	display: block;
	text-align: center;
	color: #FFFFFF;
	line-height: normal;
	word-break: break-all;
	font-weight: bold;
}
.pbs-nav li:hover {
	cursor: pointer;
}

@media (max-width: 767px) {
	.pbs-nav {
	  white-space: normal;
		box-shadow: 2px 2px 5px 0 #C1C1C1;
	}
	.pbs-nav .container-fluid {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.pbs-nav ul {
		display: initial;
	}
	.pbs-nav a {
		display: block;
		border-left: none;
		border-bottom: solid 2px #3C999A;
	}
	.pbs-nav a:last-child {
		border-right: none;
		border-bottom: none;
	}
	.pbs-nav li {
		padding: 20px 15px;
		text-align: left;
		font-weight: bold;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.pbs-nav {
		font-size: 90%;
	}
}

/* ================================== *\
   home - carousel
\* ================================== */
.pbs-home-carousel {
	background-color: #FFFFFF;
	position: relative;
	z-index: 9999;
}
.pbs-home-carousel .pbs-slide {
	background-size: cover;
	background-position: center;
	height: 400px;
}
.pbs-home-carousel .pbs-slide .pbs-overlay {
	background-color: rgba(67,169,172,0.8);  /* pbs green */
	padding: 30px 0px;
	color: #FFFFFF;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.pbs-home-carousel .pbs-slide .pbs-overlay h5 {
	margin-bottom: 0px;
	text-shadow: 1px 1px 1px #666666;
}

/* ================================== *\
   home - about
\* ================================== */
.pbs-home-about {
	background-color: #F7F7F9;
	padding: 30px 0px;
	background-position: center;
	background-size: cover;
}
.pbs-home-about h4 {
	margin-bottom: 20px;
	color: #888888;
}

/* ================================== *\
   home - our brands
\* ================================== */
.pbs-home-brands {
	background-color: #FFFFFF;
	padding-top: 30px;
}
.pbs-home-brands h4 {
	margin-bottom: 20px;
}
.pbs-home-brands .pbs-block {
	color: #FFFFFF;
	margin-bottom: 30px;
}
.pbs-home-brands .pbs-block a {
	color: #FFFFFF !important;
}
.pbs-home-brands .pbs-block .pbs-block-back {
	padding-top: 250px;
	margin-top: 5px;
	background-position: center;
	background-size: cover;
}
@media (max-width: 767px) {
	.pbs-home-brands .pbs-block .pbs-block-back {
		padding-top: 150px;
	}
}
.pbs-home-brands .pbs-block .pbs-more {
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	text-align: center;
	display: block;
	font-weight: bold;
}
.pbs-home-brands .pbs-block .pbs-more:hover {
	background-color: rgba(0,0,0,0.7);
}

/* ================================== *\
   home - news
\* ================================== */
.pbs-home-news {
	background-color: #F7F7F9;
	padding-top: 30px;
}
.pbs-home-news h4 {
	margin-bottom: 20px;
}
.pbs-home-news-item {
	background-color: #FFFFFF;
	margin-bottom: 30px;
	box-shadow: 2px 2px 5px 0 #C1C1C1;
	position: relative;
}
.pbs-home-news-item .pbs-thumbnail {
	background-position: center;
	background-size: cover;
	padding-top: 66.66%;
}
.pbs-home-news-item .pbs-text {
	padding: 15px;
	padding-bottom: 61px; /* .pbs-text padding + .pbs-more button height */
	margin-bottom: 0px;
	color: #999999;
	font-weight: bold;
}
.pbs-home-news-item .pbs-more {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.pbs-home-news-item .pbs-more a {
	color: #44A8AB !important;
	font-weight: bold;
	display: block;
	padding: 10px;
	text-align: right;
	height: 46px; /* added 2 for the border */
	border-top: solid 2px #E1E1E1;
}
.pbs-home-news-item .pbs-more a:hover {
	color: #3C999A !important;
	background-color: #F9F9F9;
}

/* ================================== *\
   home - logos
\* ================================== */
.pbs-home-logos {
	background-color: #FFFFFF;
	padding: 20px 0px;
}
.pbs-home-logos .pbs-block {
	height: 80px;
	background-color: #333333;
	color: #FFFFFF;
	font-size: 200%;
}

/* ================================== *\
   single post - main
\* ================================== */
.pbs-post-section {
	padding-top: 30px;
	padding-bottom: 10px;
	background-color: #F7F7F9;
}
.pbs-post-section .pbs-sidebar {
	position: sticky;
	position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
	top: 20px;
	margin-bottom: 30px;
}
@media (max-width: 991px) {
	.pbs-post-section .pbs-sidebar {
		display: none;
	}
}
.pbs-post-section .pbs-sidebar ul {
	background-color: #FFFFFF;
	box-shadow: 2px 2px 5px 0 #C1C1C1;
	margin-bottom: 0px;
	padding-left: 0px;
}
.pbs-post-section .pbs-sidebar li {
	border-bottom: solid 2px #E1E1E1;
	list-style-type: none;
}
.pbs-post-section .pbs-sidebar li:last-child {
	border-bottom: none;
}
.pbs-post-section .pbs-sidebar a {
	display: block;
	padding: 15px 15px 15px 10px; /* because there is an invisible border of 5px for hover effects */
	color: #999999 !important;
	text-decoration: none;
	border-left: solid 5px transparent;
}
.pbs-post-section .pbs-sidebar a:hover {
	background-color: #F9F9F9;
	border-left: solid 5px #44A8AB;
}
.pbs-post-section .pbs-sidebar a .pbs-map-icon {
	margin-right: 10px;
	color: #44A8AB;
}
.pbs-post-section .pbs-post-content {
	background-color: #FFFFFF;
	padding: 30px;
	box-shadow: 2px 2px 5px 0 #C1C1C1;
	margin-bottom: 30px;
}
.pbs-post-section .pbs-post-content p:last-child {
	margin-bottom: 0px;
}

/* wp style for images in posts */
.pbs-post-section .wp-block-gallery {
	margin-bottom: 1em;
}
.pbs-post-section .wp-block-image {
	margin-bottom: 1em;
}

/* ================================== *\
   single post - other news
\* ================================== */
.pbs-post-other-news {
	background-color: #FFFFFF;
	padding-top: 30px;
}
.pbs-post-other-news h4 {
	margin-bottom: 20px;
}
.pbs-post-other-news-item {
	background-color: #FFFFFF;
	margin-bottom: 30px;
	box-shadow: 2px 2px 5px 0 #C1C1C1;
	position: relative;
}
.pbs-post-other-news-item .pbs-thumbnail {
	background-position: center;
	background-size: cover;
	padding-top: 66.66%;
}
.pbs-post-other-news-item .pbs-text {
	padding: 15px;
	padding-bottom: 61px; /* .pbs-text padding + .pbs-more button height */
	margin-bottom: 0px;
	color: #999999;
	font-weight: bold;
}
.pbs-post-other-news-item .pbs-more {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.pbs-post-other-news-item .pbs-more a {
	color: #44A8AB !important;
	font-weight: bold;
	display: block;
	padding: 10px;
	text-align: right;
	height: 46px; /* added 2 for the border */
	border-top: solid 2px #E1E1E1;
}
.pbs-post-other-news-item .pbs-more a:hover {
	color: #3C999A !important;
	background-color: #F9F9F9;
}

/* ================================== *\
   branch details
\* ================================== */
.pbs-branch-details {
	background-color: #F7F7F9;
	padding-bottom: 30px;
}
.pbs-branch-details .pbs-branch-image-box {
	padding: 15px;
}
.pbs-branch-details .pbs-branch-image {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 500px;
	margin-bottom: 15px;
}
.pbs-branch-details h4.pbs-branch-name {
	color: #888888;
	margin-bottom: 10px;
}
.pbs-branch-details .pbs-branch-tagline {
	padding-bottom: 50px;
	border-bottom: dashed 2px #E1E1E1;
	margin-bottom: 50px;
}
.pbs-branch-details .pbs-manager-photo {
	margin-bottom: 20px;
	width: 300px;
	height: 300px;
	background-position: center;
	background-size: cover;
	border: solid 3px #44A8AB;
	border-radius: 50%;
}
.pbs-branch-details .pbs-quote-text {
	color: #D31245;
}
.pbs-branch-details .pbs-contact-links a {
	color: inherit !important;
}
.pbs-branch-details .pbs-contact-links a:hover {
	color: #44A8AB !important;
}
.pbs-branch-details .pbs-branch-map {
	background-color: #E1E1E1;
	width: 400px;
}
.pbs-branch-details .pbs-branch-map #map {
	height: 400px;
	width: 100%;
 }

/* ================================== *\
   products page
\* ================================== */
.pbs-products-section {
	padding-top: 0px;
	background-color: #FFFFFF;
}
.pbs-products-section li.pbs-products-item {
	padding: 30px 0px;
	border-bottom: dashed 3px #E1E1E1;
}
.pbs-products-section li.pbs-products-item .pbs-child {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}
.pbs-products-section li.pbs-products-item .pbs-grandchild {
	display: block;
}
.pbs-products-section li.pbs-products-item h4 {
	margin-bottom: 20px;
}
.pbs-products-section li.pbs-products-item:last-child {
	border-bottom: none;
}
.pbs-products-section li.pbs-products-item:nth-child(even) .row {
	flex-direction: row-reverse;
}
.pbs-products-section li.pbs-products-item .pbs-product-thumbnail {
	width: 250px;
	height: 250px;
	background-position: center;
	background-size: cover;
	box-shadow: 2px 2px 5px 0 #C1C1C1;
}

/* ================================== *\
   vacancies page
\* ================================== */
.pbs-vacancies-page {
	padding-top: 30px;
}

/* ================================== *\
   single vacancy page
\* ================================== */
.pbs-vacancy-page {
	padding-top: 30px;
}

/* ================================== *\
   universal - error 404
\* ================================== */
.pbs-404 {
	padding-top: 50px;
	padding-bottom: 50px;
}

/* ================================== *\
   universal - footer
\* ================================== */
.pbs-footer {
	background-color: #2C3E50;
	padding: 30px 0px 20px 0px;
	color: #F7F7F7;
	border-top: solid 5px #44A8AB;
}
.pbs-footer a {
	color: #F7F7F7;
}
.pbs-footer ul {
	margin-bottom: 0px;
	padding-left: 0px;
}
.pbs-footer li {
	list-style-type: none;
}
.pbs-footer .pbs-col {
	margin-bottom: 20px;
}
.pbs-footer .pbs-copyright {
	padding-top: 20px;
	margin-top: 10px;
	border-top: solid 2px #E1E1E1;
}
@media (max-width: 767px) {
		.pbs-footer .pbs-copyright {
			text-align: center;
		}
}
.pbs-footer .pbs-copyright p {
	margin-bottom: 0px;
}

/* ================================== *\
   universal - return to top
\* ================================== */
.pbs-footer #pbs-top-button {
	padding: 10px 15px;
	background-color: rgba(67,169,172,0.8);  /* pbs green */
	opacity: 0.7;
	z-index: 9999;
	right: 15px;
	bottom: 15px;
	position: fixed;
	display: none;
	text-align: center;
	font-weight: bold;
}
.pbs-footer #pbs-top-button:hover {
	cursor: pointer;
	background-color: rgba(67,169,172,1.0);  /* pbs green */
}
