/**
 * Flex (equal height)
 */
.pbs-flex-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	&::before,
	&::after {
		width: 0;
	}
	[class*='col-'] {
		display: flex;
		flex-direction: column;
	}
	.pbs-flex-item {
		display: block;
		height: 100%;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
	}
}

/**
 * Extended container
 */
.container-fluid {
	@media (max-width: 1365.98px) {
			max-width: 1152px;
	}
	@media (min-width: 1366px) and (max-width: 1439.98px) {
			max-width: 1280px;
	}
	@media (min-width: 1440px) {
			max-width: 1366px;
	}
}
