/**
 * Flex (equal height)
 */
.pbs-flex-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	&::before,
	&::after {
		width: 0;
	}
	[class*='col-'] {
		display: flex;
		flex-direction: column;
	}
	.pbs-flex-item {
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		height: 100%;
	}
}

/**
 * Restrict container
 */
.container-fluid {
	@media (min-width: 1200px) {
		max-width: 1170px;
	}
}
