/**
 * Account Application page
 */

.pbs-account-application-page {
	padding-top: 30px;
	padding-bottom: 10px;
	background-color: #ffffff;
	.pbs-content {
		.pbs-download {
			max-width: 250px;
			display: block;
			padding: 20px 0px;
		}
	}
}
