/**
 * Case Studies page
 */

.pbs-case-studies-page {
	padding: 30px 0px;
	.pbs_single {
		padding-top: 2rem;
		margin-top: 2rem;
		border-top: solid 1px #e1e1e1;
		.pbs_thumb {
			padding-top: 66.66%;
			background-position: center;
			background-size: cover;
		}
		.pbs_preview {
			display: block;
			text-overflow: ellipsis;
			word-wrap: break-word;
			overflow: hidden;
			max-height: 12em;
			line-height: 1.5em;
			margin-bottom: 1rem;
			img {
				display: none;
			}
			ul {
				display: none;
			}
			figure {
				display: none;
			}

			p {
				text-align: left !important;
				margin-bottom: 1.5em; // to prevent text being cut in half if there is a paragraph
			}
		}
	}
}
