/**
 * Contact Us page
 */

.pbs-contact-page {
  padding-top: 30px;
	padding-bottom: 10px;
	background-color: #F7F7F9;
  .pbs-details {
		background-color: #FFFFFF;
		padding: 30px;
		margin-bottom: 30px;
		border: solid 1px #E1E1E1;
  }
  .pbs-map {
    margin-bottom: 30px;
    #map {
      height: 100%;
    }
  }

  .pbs-content {
		background-color: #FFFFFF;
		padding: 30px;
		margin-bottom: 30px;
		border: solid 1px #E1E1E1;
		.pbs-red {
			color: red;
		}
		p {
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
}
