/**
 * Contact Us page
 */

.pbs-contact-page {
  padding-top: 30px;
	padding-bottom: 10px;
	background-color: #f7f7f9;
  .pbs-details {
		background-color: #ffffff;
		padding: 30px;
		margin-bottom: 30px;
		border: solid 1px #e1e1e1;
  }
  .pbs-map {
    margin-bottom: 30px;
    #map {
      height: 100%;
      @media (max-width: 767.98px) {
        height: 400px;
      }
    }
  }

  .pbs-content {
		background-color: #ffffff;
		padding: 30px;
		margin-bottom: 30px;
		border: solid 1px #e1e1e1;
		.pbs-red {
			color: red;
		}
		p {
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
}
