/**
 * Products page
 */

.pbs-products-section {
  padding-top: 20px;
  h4 {
    margin-bottom: 1rem;
  }
  .pbs-item {
    padding: 1rem;
    border: solid 1px #e1e1e1;
    margin-bottom: 1rem;
    .pbs-thumbnail {
      background-position: center;
      background-size: cover;
      width: 100%;
      padding-top: 100%;
    }
    .pbs-title {
      margin-top: 1rem;
      text-align: center;
    }
  }
}