/* ================================== *\
   single post - main
\* ================================== */
.pbs-post-section {
	padding-top: 30px;
	padding-bottom: 10px;
	background-color: #F7F7F9;
}
.pbs-post-section .pbs-sidebar {
	position: sticky;
	position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
	top: 20px;
	margin-bottom: 30px;
}
@media (max-width: 991px) {
	.pbs-post-section .pbs-sidebar {
		display: none;
	}
}
.pbs-post-section .pbs-sidebar ul {
	background-color: #FFFFFF;
	box-shadow: 2px 2px 5px 0 #C1C1C1;
	margin-bottom: 0px;
	padding-left: 0px;
}
.pbs-post-section .pbs-sidebar li {
	border-bottom: solid 2px #E1E1E1;
	list-style-type: none;
}
.pbs-post-section .pbs-sidebar li:last-child {
	border-bottom: none;
}
.pbs-post-section .pbs-sidebar a {
	display: block;
	padding: 15px 15px 15px 10px; /* because there is an invisible border of 5px for hover effects */
	color: #999999 !important;
	text-decoration: none;
	border-left: solid 5px transparent;
}
.pbs-post-section .pbs-sidebar a:hover {
	background-color: #F9F9F9;
	border-left: solid 5px #44A8AB;
}
.pbs-post-section .pbs-sidebar a .pbs-map-icon {
	margin-right: 10px;
	color: #44A8AB;
}
.pbs-post-section .pbs-post-content {
	background-color: #FFFFFF;
	padding: 30px;
	box-shadow: 2px 2px 5px 0 #C1C1C1;
	margin-bottom: 30px;
}
.pbs-post-section .pbs-post-content p:last-child {
	margin-bottom: 0px;
}

/* wp style for images in posts */
.pbs-post-section .wp-block-gallery {
	margin-bottom: 1em;
}
.pbs-post-section .wp-block-image {
	margin-bottom: 1em;
}

/* ================================== *\
   single post - other news
\* ================================== */
.pbs-post-other-news {
	background-color: #FFFFFF;
	padding-top: 30px;
}
.pbs-post-other-news h4 {
	margin-bottom: 20px;
}
.pbs-post-other-news-item {
	background-color: #FFFFFF;
	margin-bottom: 30px;
	box-shadow: 2px 2px 5px 0 #C1C1C1;
	position: relative;
}
.pbs-post-other-news-item .pbs-thumbnail {
	background-position: center;
	background-size: cover;
	padding-top: 66.66%;
}
.pbs-post-other-news-item .pbs-text {
	padding: 15px;
	padding-bottom: 61px; /* .pbs-text padding + .pbs-more button height */
	margin-bottom: 0px;
	color: #999999;
	font-weight: bold;
}
.pbs-post-other-news-item .pbs-more {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.pbs-post-other-news-item .pbs-more a {
	color: #44A8AB !important;
	font-weight: bold;
	display: block;
	padding: 10px;
	text-align: right;
	height: 46px; /* added 2 for the border */
	border-top: solid 2px #E1E1E1;
}
.pbs-post-other-news-item .pbs-more a:hover {
	color: #3C999A !important;
	background-color: #F9F9F9;
}
