/**
 * Post page
 */

 // Post section
.pbs-post-section {
	padding-top: 30px;
	padding-bottom: 10px;
	background-color: #F7F7F9;
	.pbs-post-content {
		background-color: #FFFFFF;
		padding: 30px;
		box-shadow: 2px 2px 5px 0 #C1C1C1;
		margin-bottom: 30px;
		p {
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
	.pbs-sidebar {
		position: sticky;
		position: -webkit-sticky;
	  position: -moz-sticky;
	  position: -ms-sticky;
	  position: -o-sticky;
		top: 20px;
		margin-bottom: 30px;
		@media (max-width: 991px) {
			display: none;
		}
		ul {
			background-color: #FFFFFF;
			box-shadow: 2px 2px 5px 0 #C1C1C1;
			margin-bottom: 0px;
			padding-left: 0px;
			li {
				border-bottom: solid 2px #E1E1E1;
				list-style-type: none;
				&:last-child {
					border-bottom: none;
				}
				a {
					display: block;
					padding: 15px 15px 15px 10px; /* because there is an invisible border of 5px for hover effects */
					color: #999999 !important;
					text-decoration: none;
					border-left: solid 5px transparent;
					&:hover {
						background-color: #F9F9F9;
						border-left: solid 5px #44A8AB;
					}
					.pbs-map-icon {
						margin-right: 10px;
						color: #44A8AB;
					}
				}
			}
		}
	}
}

// News
.pbs-post-news {
	background-color: #FFFFFF;
	padding-top: 30px;
	h4 {
		margin-bottom: 20px;
	}
	.pbs-post-news-item {
		background-color: #FFFFFF;
		border: solid 1px #E1E1E1;
		.pbs-thumbnail {
			background-position: center;
			background-size: cover;
			padding-top: 66.66%;
		}
		.pbs-text {
			padding: 15px;
			margin-bottom: 0px;
			color: #666666;
		}
	}
	.pbs-more {
		width: 100%;
		margin-bottom: 30px;
		a {
			background-color: #FFFFFF;
			color: #44A8AB !important;
			font-weight: bold;
			display: block;
			padding: 15px;
			text-align: right;
			border: solid 1px #E1E1E1;
			border-top: none;
			&:hover {
				color: #3C999A !important;
				background-color: #F9F9F9;
			}
		}
	}
}
