/**
 * Post page
 */

 // Post section
.pbs-post-section {
	padding-top: 30px;
	background-color: #f7f7f9;
	@media (max-width: 767.98px) {
		background-color: #ffffff;
	}
	.pbs-content {
		background-color: #ffffff;
		padding: 30px;
		margin-bottom: 30px;
		border: solid 1px #e1e1e1;
		@media (max-width: 767.98px) {
			background-color: inherit;
			padding: 0px;
			border: none;
		}
		p {
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
	.pbs-sidebar {
		position: sticky;
		position: -webkit-sticky;
	  position: -moz-sticky;
	  position: -ms-sticky;
	  position: -o-sticky;
		top: 30px;
		margin-bottom: 30px;
		@media (max-width: 991px) {
			display: none;
		}
		ul {
			background-color: #ffffff;
			border: solid 1px #e1e1e1;
			margin-bottom: 0px;
			padding-left: 0px;
			li {
				border-bottom: solid 1px #e1e1e1;
				list-style-type: none;
				&:last-child {
					border-bottom: none;
				}
				a {
					display: block;
					padding: 15px 15px 15px 10px; /* because there is an invisible border of 5px for hover effects */
					text-decoration: none;
					border-left: solid 5px transparent;
					&:hover {
						background-color: #f9f9f9;
						border-left: solid 5px #44a8ab;
					}
					.pbs-icon {
						margin-right: 15px;
					}
				}
			}
		}
	}
}

// News
.pbs-post-news {
	background-color: #ffffff;
	padding-top: 30px;
	@media (max-width: 767.98px) {
		background-color: #f1f1f1;
	}
	h4 {
		margin-bottom: 20px;
	}
	.pbs-news-item {
		background-color: #ffffff;
		border: solid 1px #e1e1e1;
		.pbs-thumbnail {
			background-position: center;
			background-size: cover;
			padding-top: 66.66%;
		}
		.pbs-text {
			padding: 15px;
			margin-bottom: 0px;
			color: #666666;
		}
	}
	.pbs-more {
		width: 100%;
		margin-bottom: 30px;
		a {
			background-color: #ffffff;
			color: #44a8ab !important;
			font-weight: bold;
			display: block;
			padding: 15px;
			text-align: right;
			border: solid 1px #e1e1e1;
			border-top: none;
			&:hover {
				background-color: #f9f9f9;
			}
		}
	}
}
