/**
 * Vacancy page
 */

.pbs-vacancy-section {
	padding-top: 30px;
	padding-bottom: 10px;
	background-color: #f7f7f9;
	.pbs-content {
		background-color: #ffffff;
		padding: 30px;
		margin-bottom: 30px;
		border: solid 1px #e1e1e1;
		.pbs-red {
			color: red;
		}
		p {
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
	.pbs-sidebar {
		position: sticky;
		position: -webkit-sticky;
	  position: -moz-sticky;
	  position: -ms-sticky;
	  position: -o-sticky;
		top: 30px;
		margin-bottom: 30px;
		@media (max-width: 991px) {
			display: none;
		}
		ul {
			background-color: #ffffff;
			border: solid 1px #e1e1e1;
			margin-bottom: 0px;
			padding-left: 0px;
			li {
				border-bottom: solid 1px #e1e1e1;
				list-style-type: none;
				&:last-child {
					border-bottom: none;
				}
				a {
					display: block;
					padding: 15px 15px 15px 10px; /* because there is an invisible border of 5px for hover effects */
					text-decoration: none;
					border-left: solid 5px transparent;
					&:hover {
						background-color: #f9f9f9;
						border-left: solid 5px #44a8ab;
					}
					.pbs-icon {
						margin-right: 15px;
					}
				}
			}
		}
	}
}
