/**
 * Vacancies page
 */

.pbs-vacancies-page {
	padding-top: 30px;
	background-color: #ffffff;
	.pbs-group {
		margin-bottom: 1rem;
		.pbs-item {
			margin-bottom: 1rem;
			border: solid 1px #e1e1e1;
			.pbs-img-back {
				padding: 1rem;
				&.pbs-parkers {
					background-color: #44a8ab;
				}
				&.pbs-stamco {
					background-color: #f9f9f9;
				}
				&.pbs-fairalls {
					background-color: #006231;
				}
				&.pbs-chandlers {
					background-color: #00652e;
				}
			}
			.pbs-img {
				width: 100%;
				padding-bottom: 50%;
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
		a {
			display: block;
			background-color: #ffffff;
			border-top: solid 1px #e1e1e1;
			padding: 1rem;
			text-align: right;
			font-weight: bold;
			&:hover {
				background-color: #f9f9f9;
			}
		}
	}
	.pbs-content {
		background-color: #ffffff;
		margin-bottom: 30px;
		.pbs-title {
			font-weight: bold;
			padding: 0px 15px 10px 15px;
		}
		.pbs-posts {
	    ul {
	      margin: 0;
				padding: 0;
	      li {
					list-style-type: none;
					border-top: solid 1px #e1e1e1;
					&:last-child {
						border-bottom: solid 1px #e1e1e1;
					}
	        a {
	          display: block;
						padding: 12px 0px;
	        }
	      }
	    }
	  }
	}
	.my-pagination {
		padding-top: 2rem;
		text-align: right;
		.my-item {
			border: solid 1px #e1e1e1;
			display: inline-block;
			border-radius: .25rem;
			color: #44a8ab;
			span,
			a {
				display: inline-block;
				padding: .25rem .75rem;
				border-right: solid 1px #e1e1e1;
				margin-left: -4px;
				&:last-child {
					border-right: none;
				}
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
}


// Stamco
.pbs-stamco-page {
	.pbs-stamco-header {
		padding: 1rem 0;
		border-bottom: solid 1px #e1e1e1;
	}
	.pbs-stamco-footer {
		padding: 1rem 0;
		background-color: #00497f;
		color: #ffffff;
	}
	.pbs-stamco-heading {
		color: #00497f;
		text-transform: uppercase;
	}
	a {
		color: #00497f !important;
	}
}

// Chandlers
.pbs-chandlers-page {
	.pbs-chandlers-header {
		padding: 1rem 0;
		background-color: #00652e;
		color: #ffffff;
	}
	.pbs-chandlers-footer {
		padding: 1rem 0;
		background-color: #00652e;
		color: #ffffff;
	}
	.pbs-chandlers-heading {
		color: #00652e;
		text-transform: uppercase;
	}
	a {
		color: #00652e !important;
	}
}

// Fairalls
.pbs-fairalls-page {
	.pbs-fairalls-header {
		padding: 1rem 0;
		background-color: #006231;
		color: #ffffff;
	}
	.pbs-fairalls-footer {
		padding: 1rem 0;
		background-color: #006231;
		color: #ffffff;
	}
	.pbs-fairalls-heading {
		color: #006231;
		text-transform: uppercase;
	}
	a {
		color: #006231 !important;
	}
}
