/**
 * Vacancies page
 */

.pbs-vacancies-page {
	padding-top: 30px;
	padding-bottom: 10px;
  background-color: #F7F7F9;
	.pbs-content {
		background-color: #FFFFFF;
		padding: 30px;
		margin-bottom: 30px;
		border: solid 1px #E1E1E1;
		.pbs-title {
			padding-bottom: 10px;
			font-weight: bold;
		}
		.pbs-posts {
	    ul {
	      margin: 0;
				padding: 0;
	      li {
					list-style-type: none;
					border-top: solid 1px #E1E1E1;
	        &:last-child {
	          padding-bottom: 0px;
	        }
	        a {
	          display: block;
						padding: 10px 0px;
	        }
	      }
	    }
	  }
	}
}
