/**
 * Global nav
 */

 // Navbar
.pbs-nav {
	background-color: #44a8ab;
  white-space: nowrap;
	position: relative;
	ul {
		position: relative;
	  width: 100%;
		display: table;
	}
	a {
		display: table-cell;
	  vertical-align: middle;
		background-color: #44a8ab;
		text-decoration: none;
		color: #ffffff;
		border-left: solid 2px #3c999a;
		&:last-child {
			border-right: solid 2px #3c999a;
		}
		&:hover {
			background-color: #3c999a;
			color: #ffffff;
			text-decoration: none;
		}
	}
	li {
		padding: 15px 15px;
		display: block;
		text-align: center;
		color: #ffffff;
		line-height: normal;
		word-break: break-all;
		&:hover {
			cursor: pointer;
		}
	}
	@media (max-width: 767.98px) {
		white-space: normal;
		box-shadow: 2px 2px 5px 0 #c1c1c1;
		.container-fluid {
			padding-left: 0px !important;
			padding-right: 0px !important;
		}
		ul {
			display: initial;
		}
		a {
			display: block;
			border-left: none;
			border-bottom: solid 2px #3c999a;
			&:last-child {
				border-right: none;
				border-bottom: none;
			}
		}
		li {
			padding: 20px 15px;
			text-align: left;
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		font-size: .90rem;
	}
}
